
# Groq API
GROQ_API_KEY=tu_api_key_aqui

# Configuración del chatbot
CHATBOT_NAME=Aria

# Modelo a usar
GROQ_MODEL=llama-3.3-70b-versatile

#Base de datos
DATABASE_URL=sqlite:///./chatbot.db

#Servidor
HOST=0.0.0.0
PORT=8000